/* comment */

body {
  background-color: rgb(48,48,48);
  color: white;
  display: flex;
  flex-direction: column;
  
}

#timeElapsed {
    display: none;
    margin-top: 20px;
    font-size: 10px;
  }

  #spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(234,0,255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
    display: none;
    margin: auto;
    margin-top: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      border-top: 16px solid rgb(106, 255, 0);
    }
    50% {
      transform: rotate(180deg);
      border-top: 16px solid rgb(0, 255, 123);
    }
    100% {
      transform: rotate(360deg);
      border-top: 16px solid rgb(106,255,0);
    }
  }

#file_convert_header {
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Verdana, Tahoma, sans-serif;
  color: #4cae4c;
}

#runButton {
  width: 150px;
  font-size: 1.1rem;
  line-height: 2;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #777, #ddd);
  box-shadow:
    1px 1px 1px black,
    inset 2px 3px 5px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}

#runButton:focus,
#runButton:hover {
  background-image: linear-gradient(to bottom right, #4cae4c, #eee);
}

#runButton:active {
  box-shadow:
    inset 2px 2px 1px #004600,
    inset 2px 3px 5px rgba(6, 48, 0, 0.3),
    inset -2px -3px 5px rgba(77, 255, 42, 0.5);
}